<app-page-header [heading]="'Details'" ></app-page-header>
<h5 style="margin-left:55px">Welcome to Angular Library.</h5>
<br>
<div class="card" style="margin-left:55px;margin-right:55px;">
  <div class="card-title" style="margin-left:10px;margin-top:10px;">
    feautures Of the Application.
  </div>
  <ul>
    <li>
      This application is build on angular 5 and bootstrap.
    </li>
    <li>
      This application has login with vaildation on email and password with regex.
    </li>
    <li>
      Can't go into dashboard without login.
    </li>
    <li>
      All books will be loaded once user logs in.
    </li>
    <li>
      Lazy loading feauture available.
    </li>
    <li>
      Create,update and delete and delete all methods available.
    </li>
    <li>
      Unique Books and Unique Id available.
    </li>
    <li>
      Application has toggle etc features and in addition sample profile and settings also available.
    </li>
    <li>
      The application is responsive.
    </li>
  </ul>
</div>