<div class="row" style="padding-top:50px"> 
    <div class="col-xs-3 col-sm-3 col-md-3"></div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="card" style="padding:20px;">
      <div class="card-title text-danger">
        Reset password
      </div>
    <form [formGroup]="signUpForm" (ngSubmit)="Resetpassword()">
        <div formGroupName="passwords">
            <div class="form-group">
                <label for="newpassword1">New Password</label>
                <input type="password" 
                    name="newpassword1" formControlName="newpassword1"

                    class="form-control" 
                    id="newpassword1">
            </div>
            <div *ngIf="signUpForm.controls.passwords?.controls.newpassword1?.touched 
                && !signUpForm.controls.passwords?.controls.newpassword1?.valid" 
                class="alert alert-danger">New Password is required</div>

            <div class="form-group">
                <label for="newpassword2">Confirm New Password</label>
                <input type="password" 
                    name="newpassword2" formControlName="newpassword2"

                    class="form-control" 
                    id="newpassword2" >
            </div>

            <div *ngIf="signUpForm.controls.passwords?.controls.newpassword2?.touched 
                && !signUpForm.controls.passwords?.controls.newpassword2?.valid">
                <div class="alert alert-danger">
                    Confirm password is required
                </div>

            </div>  

            <div class="alert alert-danger" 
                *ngIf="signUpForm.get('passwords').hasError('notSamePassword')">
                Passwords do not match
            </div>  
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
        <div class="alert alert-danger" *ngIf="hide">
            password reset has been done succesfully,please login.
          </div>
    </form>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3"></div>
